<h1>Administrador de la pagina de Novedades</h1>
    <div class="row">
        <p class="text-end">{{usuario}}<a class="btn btn-danger" href="/admin/login/logout">
            Cerrar sesion <i class="fas fa-sign-out-alt" href=></i>
        </a></p>
    </div>